*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 180px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    background-color: rgb(242, 229, 255);
}
nav button{
    padding: 7px 15px;
    border: none;
    background-color: rgb(255, 106, 0);
    color: #fefefe;
    font-weight: bold;
    border-radius: 7px;
    transition: .7s ease-in-out;
}
nav button:hover{
    background-color: rgba(255, 119, 0, 0.714);
}
nav ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
nav ul li{
    list-style: none;
}
nav  li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #010101;
    transition: .7s ease-in;
}
nav li a:hover{
    color: rgb(140, 135, 135);
}
.img img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
}
.img{
    background-image: url(portfolio-resources/images/header_bg.png);
    width: 500px;
    background-size: cover;
    align-items: center;
    text-align: center;
}
.titleBanner{
    margin-left: 220px;
    margin-top: 120px;
    
}
.titleBanner h3{
    font-size: 25px;
    font-weight: bold;
    color: #464646;
    margin-bottom: 10px;
}
.titleBanner h1{
    font-size: 45px;
    font-weight: bold;
}
.titleBanner p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.titleBanner button{
    padding: 10px 15px;
    font-size: 17px;
    background-color: rgb(255, 106, 0);
    border-radius: 7px;
    border: none;
    color: #fefefe;
    font-weight: bold;
    transition: .7s ease-in;
}
.fa-phone{
    margin-right: 5px;
    font-size: 17px;
}
.fa-download{
    margin-right: 7px;
}
.titleBanner button:hover{
    background-color: rgba(248, 89, 3, 0.622);
}

@media (max-width:1099px) {
    nav {
	padding: 20px 50px;
}
.titleBanner {
	margin-left: 120px;
	margin-top: 80px;
}
.img {
	width: 400px;
}
}

@media (max-width:499px) {
    nav {
	padding: 20px;
}
nav li a {
	font-size: 14px;
}
nav button {
	padding: 7px 10px;
}
.banner {
	display: block;
	padding: 10px 0px;
    margin: 10px;
}
.titleBanner {
	margin-left: 20px;
	margin-top: 80px;
}
}